In [1]:
import os

os.path.isfile(None)

TypeError: stat: path should be string, bytes, os.PathLike or integer, not NoneType

In [59]:
import pandas as pd

rows = [(123,),(124,),]
index = [111,222]
df = pd.DataFrame(rows, columns=["name"], index=index, )
df.index.name = 'code'
df

      name
code
111    123
222    124

In [71]:
df[df["name"] == 123].index[0]

111

In [73]:
df[df["name"] == 123] = [125]

In [103]:
import re

text = "1222.22.22"
aa = re.findall("[0-9]{2}[^0-9][0-9]{2}[^0-9][0-9]{2}", text)
print(aa)
# bb = re.sub(r'[^0-9]', '', text)
# print(bb)

['22.22.22']

In [104]:
aa = {"a":1, 'b':2}
cc = dict(zip(aa.keys(), [11,22]))
cc

{'a': 11, 'b': 22}

In [106]:
import json

dic = {"aa":{"a":1, "b":2}, "bb":{"a":11, "b":22}, }
with open("test.json", 'w') as f:
    json.dump(dic, f, indent=2)
    
    
with open("test.json", 'r') as f:
    data = json.load(f)
    
data

{'aa': {'a': 1, 'b': 2}, 'bb': {'a': 11, 'b': 22}}

In [123]:
import traceback

In [112]:
aa = [1,2,3]
set(map(lambda x:x**2, aa))

{1, 4, 9}

In [1]:
from common.text import *
from utils.crypto import glance
import json
import pymysql

# db_info_path = DB_INFO_PATH
# key_path = KEY_PATH

# db_info_str = glance(db_info_path, key_path)
# db_info_dic = json.loads(db_info_str)

# # DB 연결
# con = pymysql.connect(**db_info_dic, charset='utf8', autocommit=True, 
#                            cursorclass=pymysql.cursors.Cursor)

In [6]:
class DBManager():
    def __init__(self, db_info_path, sql_path, key_path=None):
        self.whoami = "db"
        
        # DB 정보 가져오기
        db_info_str = glance(db_info_path, key_path)
        db_info_dic = json.loads(db_info_str)
        
        # DB 연결
        self.con = pymysql.connect(**db_info_dic, charset='utf8', autocommit=True, 
                                   cursorclass=pymysql.cursors.Cursor)
        self.cur = self.con.cursor()
        
        # sql 가져오기
        with open(sql_path, 'r') as f:
            self.sql = f.read()
        
        # 초기화
        self.code2name = None
        self.name2code = None
        self.update_order_today()
                    
    def update_order_today(self):
        self.cur.execute(self.sql)
        rows = self.cur.fetchall()
        self.code2name = dict(rows)
        self.name2code = dict(zip(self.code2name.values(), self.code2name.keys()))
        
    def __del__(self):
        self.con.close()
        
db_mng = DBManager(db_info_path=DB_INFO_PATH, key_path=KEY_PATH, sql_path=SQL_PATH)
db_mng.code2name

{'488655': '카바노치(휴먼메쯔거라이)/250g',
 '488656': '비어슁켄(휴먼메쯔거라이)/400g',
 '488658': '비어슁켄/휴먼/2500g [2500]',
 '488585': '식자재왕 모듬4종 부대찌개1kg(냉동)/10',
 '488604': 'CJ 클래식 모듬부대찌개햄 1kg(냉동)/10'}

In [25]:
import cv2

img_arr = np.zeros((20,100), dtype=np.uint8)
cv2.rotate(img_arr, 0).shape

(100, 20)

In [21]:
print(cv2.ROTATE_90_CLOCKWISE)
print(cv2.ROTATE_180)
print(cv2.ROTATE_90_COUNTERCLOCKWISE)

0
1
2

In [26]:
inv_M = cv2.getPerspectiveTransform(dst_polys[i], best_obj.src_polys[i])
img_trans = cv2.warpPerspective(img, inv_M, (w, h))

AttributeError: module 'cv2' has no attribute 'warpPerspectiveTransform'

In [38]:
import numpy as np
import cv2

aa = np.random.randint(0, 2550, 8).reshape(4,2).astype(np.float32)
bb = np.random.randint(0, 2550, 8).reshape(4,2).astype(np.float32)

# pos = np.float32([[0,0], [w,0], [w,h], [0,h]])
# M = cv2.getPerspectiveTransform(poly, pos)

M = cv2.getPerspectiveTransform(aa,bb)
print(M)

[[ 5.31141853e-01 -2.19509983e+00  1.55498212e+03]
 [-3.71707087e-01 -1.85918843e-01  4.69331489e+02]
 [-4.68961036e-04 -5.54033148e-04  1.00000000e+00]]

In [36]:
np.linalg.inv(M)

array([[ 1.84428172e+01,  3.25474943e+01, -5.10876138e+04],
       [ 6.53658180e+00,  1.42000874e+01, -1.99186574e+04],
       [ 1.48645556e-02,  2.39549511e-02, -3.86266835e+01]])

In [37]:
np.linalg.pinv(M)

array([[ 1.84428172e+01,  3.25474943e+01, -5.10876138e+04],
       [ 6.53658180e+00,  1.42000874e+01, -1.99186574e+04],
       [ 1.48645556e-02,  2.39549511e-02, -3.86266835e+01]])

In [41]:
cv2.perspectiveTransform(aa.reshape(-1, 1, 2), M).shape

(4, 1, 2)

In [44]:
from common.text import *
from PIL import Image

img_pil = Image.open(LOGO_PATH)

img_pil.size

(219, 123)

In [28]:
from common import tool
import cv2
import numpy as np
w = 100
h = 200

poly = np.float32([[10,10], [150,100], [300,300], [200,250]])
pos = np.float32([[0,0], [w,0], [w,h], [0,h]])
M = cv2.getPerspectiveTransform(poly, pos)
M

array([[ 1.24352332e+00, -9.84455959e-01, -2.59067358e+00],
       [-9.32642487e-01,  1.45077720e+00, -5.18134715e+00],
       [-1.24352332e-03,  4.14507772e-04,  1.00000000e+00]])

In [31]:
pos2 = np.float32([[0,0], [h,0], [h,w], [0,w]])

In [32]:
M = cv2.getPerspectiveTransform(poly[[3,0,1,2]], pos2)
M

array([[ 6.83937824e-01, -1.36787565e+00,  2.05181347e+02],
       [ 1.24352332e+00, -9.84455959e-01, -2.59067358e+00],
       [-1.24352332e-03,  4.14507772e-04,  1.00000000e+00]])

In [33]:
M = cv2.getPerspectiveTransform(poly[[2,3,0,1]], pos)
M

array([[-1.36787565e+00,  1.02590674e+00,  1.02590674e+02],
       [ 6.83937824e-01, -1.36787565e+00,  2.05181347e+02],
       [-1.24352332e-03,  4.14507772e-04,  1.00000000e+00]])

In [8]:
import tkinter as tk

root = tk.Tk()

scale = tk.Scale(root, from_=2, to=32, tickinterval=2, orient='vertical')
scale.set(16)  # 초기값 설정
scale.pack()

root.mainloop()

In [11]:
import tkinter as tk
from tkinter import ttk

root = tk.Tk()

scale = ttk.Scale(root, from_=2, to=32, values=[2, 4, 8, 16, 32], orient='vertical')
scale.set(16)  # 초기값 설정
scale.pack()

root.mainloop()

TclError: unknown option "-values"

In [15]:
import json

dic = {'a':123}
with open('test2.json', 'w', encoding='utf-8') as f:
    json.dump(dic, f, indent=2)

In [17]:
dic.update({'a':124})
dic

{'a': 124}

In [41]:
from copy import deepcopy

bb = {'a':[1,2,3,4,5]}

aa = {'b':333}

aa = deepcopy(bb)
aa['a'][0] = 1222


print(aa, bb)

{'a': [1222, 2, 3, 4, 5]} {'a': [1, 2, 3, 4, 5]}

In [44]:
import json

with open("./source/nodb.json", 'r', encoding='utf-8-sig') as f:
    dic = json.load(f)

dic

{'4047': '후렌치파이사과',
 '5415': '이수시개',
 '4500': '담배',
 '33333': '보리차',
 '22222': '초코',
 '11111': '네모박스'}

In [45]:
list(zip(dic.keys(), dic.values()))

[('4047', '후렌치파이사과'),
 ('5415', '이수시개'),
 ('4500', '담배'),
 ('33333', '보리차'),
 ('22222', '초코'),
 ('11111', '네모박스')]

In [77]:
import json
import pandas as pd

nodb_path = "./source/nodb.json"

with open(nodb_path, 'r', encoding='utf-8-sig') as f:
    dic = json.load(f)
temp = list(zip(dic.keys(), dic.values()))
df = pd.DataFrame(temp, columns=["ITEM_CD", "ITEM_NM"])
df

  ITEM_CD  ITEM_NM
0    4047  후렌치파이사과
1    5415     이수시개
2    4500       담배
3   33333      보리차
4   22222       초코
5   11111     네모박스

In [81]:
df[df['ITEM_CD']=="11111"]#.loc[0, 'ITEM_NM']

  ITEM_CD ITEM_NM
5   11111    네모박스

In [62]:
temp = pd.Series(data=[12121, 'test'], index=['ITEM_CD', 'ITEM_NM'])

In [68]:
temp = pd.DataFrame([[12121, 'test']], columns=['ITEM_CD', 'ITEM_NM'])

In [70]:
pd.concat([df, temp], axis=0, ignore_index=True)

  ITEM_CD  ITEM_NM
0    4047  후렌치파이사과
1    5415     이수시개
2    4500       담배
3   33333      보리차
4   22222       초코
5   11111     네모박스
6   12121     test

In [83]:
import numpy as np

aa = np.array([[1,2,3]])
bb = aa.copy()

aa[0,0] = 123
bb

array([[1, 2, 3]])